/*---------------------Basic Setup------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: auto;
    margin: 0 auto;
}

/*------------------------Header-------------------------*/

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)),url(img/2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}
  
  .clock{
    height: 120px;
    float: right;
    box-sizing: border-box;
    padding: 555px 60px 0px 0px;
  }
  
  .clock .display{
    font-size: 20px;
    color: rgb(255, 255, 255);
    letter-spacing: 4px;
  }

/*-------------------------Logo-----------------------------*/

.logo{
    margin-left: 30px;
    margin-top: 25px;
    float: left;
}

/*-------------------------Navigator-----------------------*/

.wrapper{
    width: 860px;
    margin-top: 25px;
    float: right;
}

.wrapper ul li a, .wrapper ul li ul li a{
    width: 170px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 100%;
    font-weight: 300;
    float: left;
    color: #fff;
    position: relative;
}

.wrapper ul
{
    list-style: none;
    display: inline-block;
    margin-top: 2%;
}

.wrapper ul li 
{

    width: 170px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 100%;
    font-weight: 300;
    float: left;
    color: #fff;
    position: relative;
}

.wrapper ul li:hover
{
    background: #c20c0c;
}

.wrapper ul ul{
    display: none;
}

.wrapper ul li:hover > ul
{
    display: block;
}

/*-----------------------Heading----------------------*/

h1{
    top: 40%;
    left: 15%;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    word-spacing: 6.5px;
    position: absolute;
}

h2 {
    font-size: 200%;
    word-spacing: 2px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
    letter-spacing: 1px;
    font-weight:300;
    text-transform: uppercase;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #c20c0c;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

h3 {
    font-size: 115%;
    margin-bottom: 25px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 50px;
    margin-right: 50px;
}

/*---------------------------Buttons----------------------*/

.btntop:link,
.btntop:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btntop:hover,
.btntop:active{
    background-color: #920909;
}

.Login-button1{
    position: absolute;
    top: 56.5%;
    left: 15%;
}

.Login-button2{
    position: absolute;
    top: 56.5%;
    left: 25%;
}

.Login-button1:link,
.Login-button1:visited{
    background-color: #c20c0c;
    border: 1px solid #c20c0c;
    color: #fff;
    margin-right: 15px;
}

.Login-button1:hover,
.Login-button1:active{
    border: 1px solid #920909;
    background-color: #920909;
}


.Login-button2:link,
.Login-button2:visited{
    border: 1px solid #c20c0c;
    color: #c20c0c;
}

.Login-button2:hover,
.Login-button2:active{
    border: 1px solid #920909;
    color: #fff;
}


.cat-name{
    text-decoration: none;
    color: #c20c0c;
    margin: 5px 100px 30px 100px;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    border: 1.25px solid #c20c0c;
    text-transform: uppercase;
    border-radius: 30px;
    letter-spacing: 0.75px;
}

.cat-name:link,
.cat-name:visited{
    border: 1px solid #c20c0c;
    color: #c20c0c;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.cat-name:hover,
.cat-name:active{
    border: 1px solid #c20c0c;
    color: #fff;
    background-color:#c20c0c;
}

.back2top{
    text-decoration: none;
    color: #c20c0c;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    border: 1.25px solid #c20c0c;
    text-transform: uppercase;
    border-radius: 30px;
    letter-spacing: 0.75px;
    margin: 50px 0 70px 0;
}

.back2top:link,
.back2top:visited{
    border: 1px solid #c20c0c;
    color: #c20c0c;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.back2top:hover,
.back2top:active{
    border: 1px solid #c20c0c;
    color: #fff;
    background-color:#c20c0c;
}

/*-----------------Section About--------------*/

section {
    padding: 80px 120px 0px 120px;
}

.box {
    padding: 1%;
}

.long-copy {
    line-height: 145%;
    font-size: 105%;
    text-align: center;
    margin-bottom: 40px;
}

.icon-about{
    font-size: 250%;
    display: block;
    color: #c20c0c;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    font-weight: 100;
}

.box p {
    margin: 0px 50px 0px 50px;
    text-align: justify;
    font-size: 90%;
    line-height: 160%;
}

.abt{
    padding: 80px 50px 0px 50px;
    max-width: auto;
}

/*--------------section-category-------------*/

.cat{
    padding: 60px 70px;
}

/*--------------section-TD---------------*/

.models{
    margin-top: 40px;
    text-align: center;
}

.td-text{
    text-align: center;
    margin-top: 20px;
    line-height: 150%;
    font-size: 90%;
}

.td-text a{
    text-decoration: underline;
    color:#555;
    font-weight:bold;  
}

/*----------------Footer--------------*/

footer {
    background-color: #333;
    padding: 40px 50px;
    font-size: 90%;
}

.footer-nav a{
    list-style: none;
    text-decoration: none;
    border: 0;
    color: #888;
    margin: 0px 50px;
}

.foot{
    margin: 50px 0 5px 0;
    color: #888;
    font-size: 85%;
}

.footer-nav a:link,
.footer-nav a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav a:hover,
.footer-nav a:active {
    color: #ddd;
}

/*---------------section whats new------------------*/

.container {
    width: 90%;
    margin: 10px auto;
}

.container h2{
    font-size: 200%;
    word-spacing: 2px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
    letter-spacing: 1px;
    font-weight:300;
    text-transform: uppercase;
}

.rows{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cols{
    flex-basis: 50%;
    min-width: 250px;
}

.feature-img{
    width: 85%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.feature-img p{
    font-size:110%;
}

.small-img-row{
    display: flex;
    background: #efefef;
    margin: 0px 0px 30px 0px;
    align-items: center;
    overflow: hidden;
    width: 90%;
}

.small-img{
    position: relative;
}

.small-img img{
    width: 140px;
}

.small-img-row p{
    margin-left: 20px;
    color: #707070;
    line-height: 22px;
    font-size: 20px;
}

.play-btn{
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.small-img .play-btn{
    width: 35px;
}

.video-player{
    width: 71%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 437%);
    display: none;
}

.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}

.buy-now1
{
    font-size: 70%;
    display: inline-block;
    padding: 3px 10px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    background-color: #c20c0c;
    border: 1px solid #c20c0c;
    text-transform: uppercase;
}

.buy-now1:hover,
.buy-now1:active{
    background-color: #920909;
}

.buy-now2
{
    font-size: 70%;
    display: inline-block;
    padding: 3px 7px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    background-color: #c20c0c;
    border: 1px solid #c20c0c;
    text-transform: uppercase;
}

.buy-now2:hover,
.buy-now2:active{
    background-color: #920909;
}

.about-gadgetza
{
    line-height: 250%;
    text-align: justify;
}